<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="bg-black z-50 lg:py-[47px] fixed top-0 w-full">
      <div class="lg:pr-[72px] ">
        <ul class="lg:h-full lg:flex lg:items-center lg:justify-end lg:text-white">
          <!-- 01 -->
          <li class="">
            <a class="lg:py-[4.5px] lg:px-3 lg: h-full lg:block lg:border-r-2" href="index.html">
              <img src="./assets/images/header_logo.png" alt="header_logo" />
            </a>
          </li>

          <!-- 02 -->
          <li class="lg:py-[1.5px] lg:text-2xl lg:px-3 lg:inline-block lg:border-r-2">
            <a class="" href="index.html">
              <p>關卡資訊</p>
            </a>
          </li>
          <!-- 03 -->
          <li class="lg:py-[1.5px] lg:text-2xl lg:px-3 lg:inline-block lg:border-r-2">
            <a href="index.html">
              <p>攻略資源</p>
            </a>
          </li>
          <!-- 04 -->
          <li class="lg:py-[1.5px] lg:text-2xl lg:px-3 lg:inline-block lg:border-r-2">
            <a href="index.html">
              <p>求職專區</p>
            </a>
          </li>
          <!-- 05 -->
          <li class="lg:text-2xl lg:px-3 lg:inline-block">
            <a class="lg:text-black lg:py-2 lg:px-[19.5px] lg:bg-primary01 lg:rounded" href="index.html">登入</a>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
