@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.4375;
  }
}

@layer utilities {
  .font_inter {
    font-family: 'Inter', sans-serif;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #AE025B;
    color: white;
  }
  .text-stroke-green {
    -webkit-text-stroke: 1px #59A3AF;
    color: white;
  }
}
